In [5]:
for n in range (2, 10):
    print(f"{n}")

2
3
4
5
6
7
8
9

In [6]:
n = 2 

while(n < 10):
    print(n)
    n = n + 1

2
3
4
5
6
7
8
9

In [12]:
num = 2 

def doubles(num):
    for n in range(0,3):
        num = num * 2
        print(num)

doubles(num)

4
8
16